<div class="container-fluid">
    <div id="cornav">
        <nav class="navbar navbar-expand navbar-fixed-top " id="cornav">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="'/home'" id="corhome">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <a class="nav-link" [routerLink]="'/usuarios'" id="corlistagem">Usuarios
                    </a>
                </ul>                
            </div>
        </nav>
    </div>
</div>