<div class="container-fluid">

    <input type="number" placeholder="Informe o ID" [(ngModel)] = "busca"> 
    <button (click)='obterUsuarios()'>Buscar</button>

    <table class="table table-dark">

        <thead>
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Completed</th>
            </tr>
        </thead>
            <tbody *ngIf='usuario != null'>
                <tr>
                    <th scope="row">1</th>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.userId}}</td>                    
                    <td>{{usuario.title}}</td>
                    <td>{{usuario.completed}}</td>
                </tr>
            </tbody>
    </table>


</div>  